#loginModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}
#signUpModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#createModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modalTextBox {
  background-color: white;
  height: 350px;
  width: 550px;
  border-radius: 3px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#modalTextBox form {
  width: 60%;
  margin: 50px auto 0px;
}


.second-nav {
  width: 30%;
  margin: 0 auto;
  /*display: flex;*/
}

.icon-buttons {
  display: flex;
  justify-content: flex-end;
}

.icon {
  cursor: pointer;
}

.notes {
  min-height: 170px;
}

body {
  background-image: url(/images/background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eceff1;
  height: 100vh;
}
