#loginModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}
#signUpModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#createModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modalTextBox {
  background-color: white;
  height: 350px;
  width: 550px;
  border-radius: 3px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#modalTextBox form {
  width: 60%;
  margin: 50px auto 0px;
}

#newNoteModalTextBox {
  background-color: white;
  height: 450px;
  width: 550px;
  border-radius: 3px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#newNoteModalTextBox form {
  width: 60%;
  margin: 50px auto 0px;
}

#newNoteModalTextBox textarea {
  height: 150px;
}

#update-content textarea {
  height: 70px;
}

.second-nav {
  width: 40%;
  margin: 0 auto;
  /*display: flex;*/
}

.icon-buttons {
  display: flex;
  justify-content: flex-end;
}

.icon {
  cursor: pointer;
}

.notes {
  min-height: 170px;
}

body {
  background-image: url(/images/background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #eceff1;*/
  height: 100vh;
}

/*Preservers line break in content*/
.angular-with-newlines {
  white-space: pre-wrap;
}

.jot {
  font-size: 85px;
  margin-left: 16%;
  text-shadow: 1px 1px black;
  font-family: 'Roboto Slab', serif;
}

.capture {
  margin-top: 7%;
  text-shadow: 1px 1px black;
  font-family: 'Roboto Slab', serif;
}

.logged-in-jot {
  font-size: 45px !important;
  margin-left: 5%;
  font-family: 'Roboto Slab', serif;
}

.logged-in-capture {
  padding-top: 4%;
  margin-left: 10%;
}

.create-sign-in {
  font-size: 20px;
  text-shadow: 1px 1px black;
  font-family: 'Roboto Slab', serif;
}

.modal-header {
  padding-top: 5%;
}

.pen-icon {
  max-width: 60px;
  max-height: 60px;
  padding: 8px;
  margin-left: 1%;
}

.nav-bar {
  font-size: 18px;
}

.nav-bar-font {
  font-family: 'Roboto Slab', serif;
}

.notes-container {
  padding-top: 5%;
  width: 87%;
}


footer {
  background-color: #f8f8f8 !important;
  font-size: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
