<!-- LOGIN FORM -->
  <div id="loginModal">
    <div id="modalTextBox" class="container center-align">
      <i class="small material-icons right icon" id="closeLogin">close</i>
      <h4 class="modal-header grey-text">Sign In</h4>
      <form ng-submit="loginCtrl.login(loginData)">
        <div class="input-field">
        <input type="text" ng-model="loginData.username" placeholder="username"/>
        </div>
        <input type="password" ng-model="loginData.password" placeholder="password"/>
        <input class="btn"type="submit" value="Login"/>
      </form>
      <!-- <a id="closeLogin">close</a> -->
    </div>
  </div>
