<!-- NAV BAR -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">JoT</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#" id="openSignUpModal">Create Account</a></li>
      <li><a href="#" id="openLoginModal">Sign In</a></li>
      <li><a href="#" ng-show="loggedInUser" ng-click="loginCtrl.logout()">Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="second-nav">
  <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>

  <button class="btn" ng-click="notesCtrl.showArchivedNotes()">Archived</button>
  <button class="btn" ng-click="notesCtrl.showStarredNotes()">Starred</button>
</div>
