<!-- CREATE FORM -->
  <div id="createModal">
    <div id="newNoteModalTextBox" class="container center-align">
      <h4 class="modal-header grey-text">Jot a note...</h4>
      <form ng-submit="notesCtrl.createNote()">
        <!-- TITLE -->
        <input type="text" ng-model="notesCtrl.formData.title" placeholder="Title"/>
        <textarea ng-model="notesCtrl.formData.content" placeholder="Content" ></textarea>
        <!-- <input type="text" ng-model="notesCtrl.formData.content" placeholder="Content"/> -->
        <input type="submit" value="Add"/>
      </form>
      <p>Logged in username: {{ currentUser.username }} </p>
      <a id="closeCreate">close</a>
    </div>
  </div>
