<!-- SEARCH BAR -->
<div class="second-nav center-align">
  <!-- NEW NOTES BUTTON -->
  <button class="btn col s3 new-button teal darken-2" id="openCreateModal">New Note</button>
  <form>
    <div class="input-field">
      <input id="search" type="search" ng-model="searchBox"required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <!-- CLOSE BUTTON -->
      <i class="material-icons">close</i>
    </div>
  </form>


  <div class="row three-buttons">
    <div>
      <!-- ARCHIVED BUTTON -->
      <button class="btn col s4" ng-click="notesCtrl.showArchivedNotes()">Archived</button>
      <!-- STARRED BUTTON -->
      <button class="btn col s4" ng-click="notesCtrl.showStarredNotes()">Starred</button>
      <!-- SHOW ALL BUTTON -->
      <button class="btn col s4" ng-click="notesCtrl.showAllNotes()">Show All</button>
    </div>
  </div>
</div>


<!-- SHOW ALL NOTES -->
<div class="row notes-container">
  <div ng-repeat="note in notesCtrl.displayedNotes | filter:searchBox" class="col s12 m3">
    <!-- CARD -->
    <div class="card blue-grey darken-1">
      <div class="card-content white-text activator notes">
        <!-- NOTES TITLE -->
        <span class="card-title">{{note.title}}</span>
        <!-- NOTES CONTENT -->
        <p class="angular-with-newlines">{{note.content}}</p>
      </div>
      <!-- ACTIVATOR TO REVEAL CARD -->
      <div class="card-action icon-buttons">
        <span class="activator"><i class="material-icons icon">mode_edit</i></span>
        <!-- NOTES DELETE BUTTON -->
        <i ng-click="notesCtrl.deleteNote(note)" class="material-icons icon">delete</i>
        <!-- NOTES STARRED BUTTON -->
        <i ng-click="notesCtrl.starNote(note)" class="material-icons starIcon icon">stars</i>
        <!-- NOTES ARCHIVED BUTTON -->
        <i ng-click="notesCtrl.archiveNote(note)" class="material-icons icon">done</i>
      </div>
      <!-- MATERIALIZE CARD REVEAL  -->
      <div class="card-reveal grey lighten-4">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <!-- NOTES EDIT FORM -->
        <form id="update-content"ng-submit="notesCtrl.updateNote(note)">
          <!-- TITLE -->
          <input type="text" ng-model="note.title">
          <!-- CONTENT -->
          <textarea ng-model="note.content"></textarea>
          <!-- UPDATE BUTTON -->
          <input class="card-title btn right" type="submit" value="update">
        </form>
      </div>
    </div>
  </div>
</div>
