<!-- SHOW ALL NOTES -->
<ul>
  <li ng-repeat="note in notesCtrl.displayedNotes">
    Title: {{note.title}}
    Content: {{note.content}}
    <button ng-click="notesCtrl.deleteNote(note)" type="button">Delete</button>
    <!-- NOTES UPDATE FORM -->
    <form ng-submit="notesCtrl.updateNote(note)">
      Title: <input type="text" ng-model="note.title">
      Content: <input type="text" ng-model="note.content">
      <input type="submit" value="update">
    </form>
    <!-- NOTES STARRED BUTTON -->
    <button ng-click="notesCtrl.starNote(note)" type="button">Star</button>
    <!-- NOTES ARCHIVED BUTTON -->
    <button ng-click="notesCtrl.archiveNote(note)" type="button">Archive</button>
  </li>
</ul>


<button ng-click="notesCtrl.showArchivedNotes()">Show All Archived</button>
